<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dormitory_Management</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon"　/>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/bootstrap/js/bootstrap.js"></script>
    <script src="public/js/mock.js"></script>
    <script src="public/js/vue.js"></script>
    <link rel="stylesheet" href="style/index.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="app">
        <div class="index-login-box">
            <form action="" class="text-center index-login-form">
                <h1>欢迎使用宿舍管理系统</h1>
                <div class="form-group">
                    <input type="text" class="form-control" id="" v-model.trim="loginForm.username" placeholder="请输入账号" @keyup="keyup">
                    <input type="password" class="form-control" id="" v-model.trim="loginForm.password" placeholder="请输入密码" @keyup="keyup">
                </div>
                <div class="form-group index-login-form-radio">
                    <label class="radio-inline">
                        <input type="radio" name="Admin" v-model="loginForm.type" value="0"> 系统管理员
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Admin" v-model="loginForm.type" value="1"> 宿舍管理员
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Admin" v-model="loginForm.type" value="2"> 学生
                    </label>
                </div>
                <div class="form-group index-login-form-checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="loginForm.rem" id=""> 记住密码
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" @click="login">登陆</button>
                </div>
                <div class="form-group index-btn-other">
                    <button type="button" class="btn btn-outline-primary">注册</button>
                    <button type="reset" class="btn btn-outline-primary">重置</button>
                </div>
                <hr>
                <div class="form-group">
                    <span>Copyright © 2021 May-rain • Powered by Hz1</span>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="module" src="controller/index.js"></script>

</html>