/** 公共部分css **/

[v-cloak] {
    display: none;
}

.pagerCenter {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "♥";
}